/*
#301934
#00ff00
#5A5A5A
#ADD8E6
#FFAC1C
#7be2ff
*/
*{
    font-family: sans-serif;
}
html{
    background-color : #1d1934;
    overflow-x: hidden;
}
.postSection{
    background-color: red;
}
.navSection{
    padding:0.5rem 0rem ;
    background-color:#552a5d;
    filter: drop-shadow(3px 3px 3px)
}
.navElements{
    font-size: 2.4rem;
    margin: 3rem ;
    transition: 600ms;
    color: #7be2ff;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.navElements:hover{
    color: rgb(242, 141, 17);
    cursor: pointer;
}
#b{
    text-decoration: underline;
}
/*  */
.post,.mReport, .wReport{
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #301934;
    box-shadow: 5px 5px 19px 3px black;
}
.postSection{
    margin-top: 2.5rem;
    box-shadow: 5px 5px 19px 3px black;
}

.mReport, .wReport{
    display: none;
}
.postImg{
    width: 100%;
    margin-bottom: 1rem;
    transition: 500ms;
}
.postImg:hover{
    transform: scale(115%);
    box-shadow: 5px 5px 15px 5px black;
}

.postTitle, .mrTitle,.wrTitle {
    color:#FFAC1C;
    padding: 3rem 1rem 1rem 1rem ;
    font-size: 3rem;
    margin-bottom: 0;
}
.postDescription,.mrDescription, .wrDescription{
    color: white;
    padding:2.5rem;
    font-size: 2rem;
    border-top: solid 1px;
    border-bottom: solid 1px;
}
.postTitle, .postDescription,.mrTitle ,.mrDescription, .wrTitle, .wrDescription{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.postDate{
    position: relative;
    bottom:85%;
    left: 80%;
    padding-bottom: 1rem;
    color: gray
}
@media only screen and (max-width: 767px){
    .navElements{
        font-size: 1.5rem;
        margin: 1.5rem ;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .post,.mReport, .wReport{
        margin-top: 2.5rem;
        /* margin-left: auto; */
        /* margin-right: auto; */
        width: 100%;
    }
    .postTitle, .mrTitle,.wrTitle {
        padding: 1.5rem 0.5rem 0.5rem 0.5rem ;
        font-size: 2rem;
    }
    .postDescription,.mrDescription, .wrDescription{
        padding:1.2rem;
        font-size: 1rem;
    }
    .postDate{
        position: relative;
        bottom:85%;
        left: 65%;
        padding-bottom: 1rem;
        color: gray
    }
}
