/*  */
.section-home{
    height: 100vh;
}
.home-divs-wrapper{
    height: fit-content;
    max-height: 100vh;
    /* display: grid; */
    /* grid-template-columns: 0.5fr 1fr; */
    overflow: hidden;
}
.home-left-div{
    padding-top: 3.5rem;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opening-left-div 0.5s linear forwards;
    background: linear-gradient(180deg, rgb(201, 201, 201) ,rgb(215, 215, 215), white, white);
}
@keyframes opening-left-div {
    0%{
        opacity: 0;
    }
}
.home-left-div-text-wrapper{
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-top: 4.5rem;
}
@keyframes opening-text-h2{
    0%{
        transform: translate(0%, 30%);
        opacity: 0;
    }
    100%{
        transform: translate(0%, 0%);
        opacity: 1;
    }
}
.home-left-div-text-wrapper h2{
    margin: 3rem auto 2rem auto;
    width: 75%;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.6rem;
    line-height: 4.5rem;
    animation: opening-text-h2 0.75s ease-in forwards;
}
.home-left-div-text-wrapper hr{
    margin: 0 auto;
    border: solid 1px black;
    width: 75%
}
.home-left-div-text-wrapper p{
    width: 80%;
    margin: 2rem auto 0 auto;
    font-size: 2rem;
    letter-spacing: 0.05rem;
    text-align: center;
    animation: opening-text-p 0.75s ease-in forwards;
}

@keyframes opening-text-p{
    0%{
        transform: translate(0%, -30%);
        opacity: 0;
    }
    100%{
        transform: translate(0%, 0%);
        opacity: 1;
    }
}
.home-left-div-text-wrapper button{
    margin: 2rem 0 4rem 0;
    font-size: 1.1rem;
    padding: 0.7rem 3rem;
    background-color: rgb(20, 20, 20);
    color: white;
    border: solid 1px transparent;
    outline: none;
    transition: 250ms;
    cursor: pointer;
    opacity: 0;
    transform: translate(0%, 170%);
}
.home-cv-animation{
    animation: home-cv-animation 0.5s ease-in forwards
}
@keyframes home-cv-animation {
    100%{
        transform: translate(0%, 0%);
        opacity: 1;
    }
}
.home-left-div-text-wrapper button:hover{
    background-color: white;
    color: black;
    border: solid 1px black;
}
/* .home-right-div img{
    width: 100%;
    height: 100vh;
    animation: opening-right-div 0.5s linear forwards;
    object-fit: cover;
} */
@keyframes opening-right-div {
    0%{
        filter: saturate(0%);
    }
    100%{
        filter: saturate(100%)
    }
}
/*  */
.intern-hr{
    margin: 2.5rem auto 0 auto;
    width: 25%;
    border: solid 2px black
}
/* my work */
.section-my-work{
    width: 100vw;
}
.section-my-work, .section-skills{
    padding-top: 5rem;
}
.project-container{
    margin: 2.5rem auto 5rem auto ;
    height: fit-content;
    text-align: center;
    width: 96.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%
}
.project-text-container h3{
    font-size: 2.75rem;
    text-align: center;
    margin: 3rem  auto 0 auto;
    letter-spacing: 0.15rem;
    word-spacing: 0.3rem;
    width: 80%;
}
.project-text-container .dot-div{
    width: 0.5rem;
    height: 0.5rem;
    margin: 1rem  auto;
    background-color: black;
    border-radius: 50%;
}
.project-text-container p{
    font-size: 1.5rem;
    width: 75%;
    margin: 1.65rem auto;
    letter-spacing: 0.1rem;
}
.project-container a{
    font-size: 1.25rem;
    padding: 0.5rem 2.5rem;
    display: block;
    margin: 3rem auto 2rem auto;
    border: solid 1px rgb(37, 37, 37);
    background-color: white;
    color: black;
    text-decoration: none;
    transition: 250ms;
    cursor: pointer;
    text-align: center;
    width: fit-content;
}
.project-container a:hover{
    background-color: rgb(37, 37, 37);
    color: white;
}
.project-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 15px black;
}
.project-img-container img:nth-of-type(2),
.project-img-container img:nth-of-type(4){
    box-shadow: -3px -3px 15px black;
}

/* section skills */
.section-skills h3{
    font-size: 2.75rem;
    margin: 3rem auto 2rem auto;
    text-align: center;
    width: calc(100% - 13.4rem);
    letter-spacing: 0.15rem;
    word-spacing: 0.3rem;
    padding: 0 1.3rem 1.5rem 1.3rem;
    border-bottom: solid 1px black;
}
.skills-wrapper{
    padding: 0 5rem 1rem 5rem;
    width: calc(100% - 13.4rem);
    display: flex;
    justify-content: space-between;
    margin: 4rem  0 0 1.7rem;
}
.current-skill{
    width: 100%;
    margin: 0;
    text-align: center;
    opacity: 0;
}
.current-skill:nth-of-type(2){
    animation-delay: 0.25s;
}
.current-skill:nth-of-type(3){
    animation-delay: 0.5s;
}
.current-skill-animation{
    animation: current-skill 0.5s ease-in forwards;
}
@keyframes current-skill {
    0%{
        transform: translate(0%, 25%);
    }
    100%{
        transform: translate(0%, 0%);
        opacity: 1;
    }
}
.current-skill img{
    width: 8rem;
    height: 8rem;
}
.current-skill p{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}
.skills-tech{
    border-top: solid 1px;
    margin: 0rem auto 8rem auto;
    width: 75%;
    padding: 2.5rem 0 0 0 ;
    display: flex;
    justify-content: space-evenly;
}
.skills-tech img{
    width: 3.5rem;
    height: 3.5rem;
}
/* section communication */

/* MEDIA QUERIES */
@media only screen and (min-width: 320px) and (max-width: 480px){
    .home-divs-wrapper{
        display: block;
    }
    .home-right-div img{
        display: none;
    }
    .home-left-div-text-wrapper h2{
        margin: 2rem auto 2rem auto;
        font-size: 2.25rem;
        letter-spacing: 0.2rem;
        line-height: 3rem;
    }
    .home-left-div-text-wrapper p{
        font-size: 1.6rem;
    }
    /*  */
    /* my work */
    .section-my-work, .section-skills{
        padding-top: 5rem;
    }
    .project-container{
        display:  block;
    }
    .project-img-container{
        display: none;
    }
    .project-text-container{
        width: 100%;
    }
    /* section skills */
    .section-skills h3{
        font-size: 2.25rem;
        width: 85%;
        padding: 0 1rem 1.5rem 1rem;
    }
    .skills-wrapper{
        padding: 0 0 1rem 0;
        width: 100%;
        display: block;
        margin: 4rem  0 0 0;
    }
    .current-skill{
        text-align: center;
    }
    .current-skill img{
        width: 8rem;
        height: 8rem;
    }
    .skills-tech{
        border-top: solid 1px;
        margin: 0rem auto 1rem auto;
        width: fit-content;
        padding: 2.5rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
    .skills-tech img{
        width: 3rem;
        height: 3rem;
        margin: 0.5rem
    }
}



@media only screen and (min-width: 481px) and (max-width: 1024px){
    .home-divs-wrapper{
        display: block;
    }
    .home-right-div img{
        display: none;
    }
    /*  */
    /* my work */
    .section-my-work, .section-skills{
        padding-top: 5rem;
    }
    .project-container{
        display:  block;
    }
    .project-img-container{
        display: none;
    }    .project-text-container{
        width: 100%;
    }
}

.project-img-container{
    transform: translate(10%, 0%);
    opacity: 0;
}
.project-img-container:nth-of-type(2),
.project-img-container:nth-of-type(4){
    transform: translate(-10%, 0%);
}
.pro-img-container{
    animation: pro-img-container 0.75s linear forwards
}
@keyframes pro-img-container{
    100%{
        transform: translate(0%, 0%);
        opacity: 1;
    }
}
