:root{
    --color: rgb(0, 223, 223);
}

html{
    background: linear-gradient(125deg, black, rgb(20, 20, 20), rgb(48, 48, 48), black);
    overflow: hidden;
    box-shadow: inset 50px 50px 50px rgba(0, 0, 0, 0.692);
    /* font-family: sans-serif; */
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
h3{
    font-size: 5rem;
    color: var(--color);
    border-bottom: solid 4px var(--color);
    padding: 3rem 5rem;
    letter-spacing: 0.2rem;
    word-spacing: 1.5rem;
    animation: h3-dance 3s ease-in-out infinite;
    text-shadow: 5px 5px 15px black;
}

a{
    width: 8rem;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 20%;
    left: -10rem;
    z-index: 2;
    background-color: rgb(216, 0, 0);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.7rem;
    padding: 0.5rem 0;
    border-radius: 0 25px 25px 0;
    transition: 200ms;
    animation: a-slider 300ms linear forwards;
    animation-delay: 3s;
}
a:hover{
    background-color: rgb(194, 3, 3);
}



/* animations */
@keyframes h3-dance {
    0%{
        transform: scale(100%);
    }
    50%{
        transform: scale(105%);
    }
    100%{
        transform: scale(100%);
    }
}
/*  */
@keyframes a-slider {
    100%{
        left: 4rem;
    }
}
