/* variables */
:root{
    --deep-purple: rgb(21, 0, 32);
    --higher-pink: rgb(220, 0, 121);
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow-y: hidden;
    }
/* multiple selectors */
nav, 
body, 
main, 
.project p, 
.projects, 
.contact-form p, 
.contact-form button{
    margin: 0;
    padding: 0;
}

nav, 
main, 
#home, 
#about, 
#service, 
#resume, 
#portfolio, 
#contact{
    height: 100vh;
    border: solid transparent 1px;
}

.nav-links a, 
main button, 
.project-img, 
.project-container:hover 
.utility-icon, 
.previous-img, 
.next-img, 
.previous-img02, 
.next-img02, 
.projects div button{
    transition: 300ms;
}

.about-div, 
.service-div, 
.resume-div, 
.contact-div, 
.project-container,
.portfolio-div,
.project-keywords,
.project-description{
    box-shadow: 3px 5px 10px black;
}

#about h2, 
#service h2,
#resume h2, 
#portfolio h2, 
#contact h2{
    text-align: center;
    font-size: 3rem;
    margin-top: 6rem;
}

/* Navigation bar */
nav{
    text-align: center;
    border-right: solid gray 1px;
    box-shadow: 3px 3px 34px 3px black;
}
.myPhoto{
    width: 13rem;
    height: 13rem;
    margin-top: 2rem;
    border-radius: 50%;
    object-fit: cover;
    border: solid 1px black;
}
.name{
    font-size: 2rem;
    font-weight: bold;
    color: var(--higher-pink);
    margin-bottom: 1rem;
}
.icons img{
    width: 1.5rem;
    height: 1.5rem;
}
nav hr{
    width: 85%;
}
.nav-links a{
    display: block;
    margin:1.2rem 0;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
}
.nav-links a:visited{
    color: black;
}
.nav-links a:first-child{
    margin-top: 2rem;
}
.nav-links a:hover{
    cursor: pointer;
    color: var(--higher-pink);
}
.mobile-nav{
    display: none;
}

/* main */
main{
    overflow-y: scroll;
    scroll-behavior: smooth;
    animation: apearing 1s linear forwards;
}

/* openeing panel */
.introduction{
    font-size: 4rem;
    margin: 15rem 0 0 4rem;
    animation: movingDown 0.6s linear forwards;
}
.into-p{
    font-size: 1.3rem;
    margin-left: 6rem;
}
main button{
    font-size: 1rem;
    color: rgb(242, 242, 242);
    width: 8rem;
    padding: 0.5rem;
    font-weight: bold;
    margin-top: 2rem;
    white-space: nowrap;
    background-color: var(--deep-purple);
    outline: transparent;
    border: 1px solid var(--deep-purple);
    border-radius: 25px;
}
main button:hover{
    color:var(--deep-purple);
    background: transparent;
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
}
.talk-to-me{
    margin-left: 7rem;
}
.download-cv{
    margin-left: 0.5rem;
}

/* about section */
.about-div, .service-div, .resume-div, .contact-div{
    border: solid gray 1px ;
    height: 20rem;
    margin:0 3rem;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 15px;
}

/* services */
.service-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.service-titles{
    border-right: solid gray 3px;
    padding:0.5rem;
    padding-left: 2rem;
    text-align: left;
}
.service-titles hr{
    height: 3px;
    width: 100%;
    background-color: gray;
}
.technologies{
    padding:2.5rem 0.5rem 0.5rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.technologies img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 15px;
}

/* about */
.about-name{
    color: var(--higher-pink);
    font-weight: bolder;
}
.year{
    background-color: rgb(0, 123, 255);
}

/* portfolio */
.portfolio-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid gray 1px ;
    margin:0 3rem;
    font-size: 1.5rem;
    border-radius: 15px;
    height: auto;
}
.project{
    margin:0.5rem 1rem 2rem  1rem;
    text-align: center;
}
.project-container{
    height:15rem;
    border: solid gray 1px;
    margin: 0.5rem auto;
    width: 90%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 15px;
}
.project-img{
    width: 100%;
    margin: auto;
    height: 100%;
}
.project-container:hover .project-img{
    transform: scale(120%);
    filter:blur(6px);
}
.utility-icon{
    width: 2.2rem;
    height: 2.2rem;
    position: relative;
    top: -45%;
    margin:0 1rem;
    display: none;
}
.project-container:hover .utility-icon{
    display: inline;
}
.utility-icon:hover{
    cursor: pointer;
    filter: invert(90%);
}
.project p{
    color: var(--higher-pink);
}
.project h4{
    margin: 1.5rem 0 1rem 0;
}
.first-project, .second-project{
    display: none;
    width: 70vw;
    height: 70vh;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: white;
    overflow: scroll;
    animation: project 0.3s linear forwards;
    text-align: center;
    padding-bottom: 1rem;
    border: solid black 2px;
    border-radius: 5px;
    
}
.project-title{
    font-size: 3rem;
    margin: 5rem auto 1rem auto;
}
.show{
    width: 50vw;
    margin: auto 1rem;
    border: 1px black solid;
    display: none;
    animation: apearing 100ms linear forwards;
    border-radius: 15px;
}
.first-project-img01, 
.second-project-img01{
    display: inline;
}
.previous-img, 
.next-img, 
.previous-img02, 
.next-img02{
    width: 3rem;
    height: 3rem;
    margin-bottom: 12rem;
}
.previous-img:hover, 
.next-img:hover, 
.previous-img02:hover, 
.next-img02:hover{
    cursor: pointer;
    filter: invert(30%);
    transform: scale(115%);
}
.project-keywords{
    display: flex;
    grid-template-columns: 1fr 1fr;
    width:fit-content;
    margin: 1.5rem auto 0 auto;
    font-size: 1.2rem;
    border-radius: 15px;
}
.project-keywords div{
    padding: 0 2rem;
    text-align: left;
}
.project-description{
    width: 90%;
    padding: 1rem 0.5rem;
    margin: 1.5rem auto 2rem auto;
    font-size: 1.2rem;
    border-radius: 15px;
}

.projects div button{
    width: 5rem;
    font-size: 1.2rem;
    margin: 1.5rem 0.5rem 0 0.5rem;
    border-radius: 30px;
    padding: 0.3rem 0;
    border: 2px solid var(--deep-purple);
}
.projects div button:hover{
    box-shadow: 3px 3px 3px black;;
    cursor: pointer;
    color: rgb(97, 2, 107);
}
.close01, .close02{
    background-color: var(--deep-purple);
    color: white;
}
.close01:hover, 
.close02:hover{
    background-color: transparent;
    color: var(--deep-purple);
}

/* contact */
.contact-div{
    text-align: center;
}
.contact-div img{
    margin: 0 auto;
    width: 4rem;
    height: 4rem;
    text-align: center;
}
.contact-form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3;
    text-align: left;
    margin-top: 4rem;
    padding:1.5rem
}
.contact-form p{
    border-bottom: solid gray 1px;
    padding:0.7rem 0 0.4rem 0;
}
.info-type{
    color: var(--higher-pink);
    margin-left: 1rem;
    font-weight: bold;
}
.contact-form button{
    margin-left: 3.5rem;
    padding: 0.3;
}
.sep{
    color: var(--higher-pink);
}

.mobile-img-switch{
    display: none;
}
/* media queries */
@media (min-width: 360px) and (max-width: 767px){
    body{
        display: block;
        overflow-y: hidden;
    }
    nav{
        display: none;
        position: absolute;
        top: 0;
        background-color: white;
        z-index: 1
    }
    .mobile-nav{
        display: block;
        /* height: 5rem ; */
        height: auto;
        border: none;
        border-bottom: 1px black solid;
    }
    .nav-links{
        margin: 1rem 1rem 0.5rem;
    }
    .mobile-nav a{
        display: inline;
    }
    .nav-links a img{
        display: inline;
        width: 1.25rem;
        height: 1.25rem;
        margin: 0 0.5rem;
    }
    .mobile-nav-inner-wrapper{
        display: flex;
        justify-content: space-between;
        width: 100vw;
        /* box-shadow: 3px 3px 15px 3px black; */
    }
    .name02{
        display: block;
        padding: 0;
        margin: 0;
        margin-left: 1.5rem ;
        padding: 1rem 0;
        font-size: 1.3rem;
        font-weight: bolder;
        color: var(--higher-pink)
    }
    .bottom-liner{
        height: 1rem;
        background-color: rgba(83, 244, 220, 0.483);
        width: 100vw;
        border: none
    }
    #home{
        padding-top: 5rem;
    }
    .introduction{
        font-size: 2.3rem;
        margin: 0 0 0 2rem;
    }
    .into-p{
        font-size: 1.3rem;
        margin-left: 2rem;
    }
    main button{
        display: block;
        margin: 1rem auto;
    }
    .talk-to-me{
        width: auto;
        padding:0.5rem;
        margin-top: 2rem;
        margin-left: auto;
    }
    .download-cv{
        margin-left: auto;
    }
    /*  */
    #about h2, #service h2, #resume h2, #portfolio h2, #contact h2{
        text-align: center;
        font-size: 2rem;
        margin-top: 6rem;
    }
    #home, 
    #about, 
    #service, 
    #resume, 
    #portfolio, 
    #contact{
        height: 88vh;
        border: solid transparent 1px;
    }
    .about-div, .service-div, .resume-div, .contact-div, .portfolio-div{
        height: auto;
        margin:0 0.5rem;
        padding: 1.5rem;
        font-size: 1.2rem
    }
    
    .service-div{
        display: block;
        height: 60%;
    }
    .service-titles{
        border-right: none;
        border-left: solid 1px rgb(87, 0, 87);
        padding-left: 1rem;
        margin-left: 2rem;
    }
    .service-titles hr{
        display: none;
    }
    .technologies{
        display: grid;
        grid-template-rows: 2;
    }
    .technologies img{
        width: 2rem;
        height: 2rem;
        margin: 0.3rem 0;
    }
    .portfolio-div{
        grid-template-columns: 1fr;
        font-size: 1.2rem;
        height: auto;
        padding: 0
    }
    .project{
        margin:0.5rem;
    }
    .project-container{
        height:9rem;
    }
    .first-project, .second-project{
        display: none;
        width: 100vw;
        height: 100vh;
        padding-bottom: 1rem;
    }
    .first-project{
        display: block;
    }
    .project-title{
        font-size: 2rem;
        margin: 6.5rem auto 1rem auto;
    }
    .show{
        width: 88vw;
        margin: auto 1rem;
        border: 1px black solid;
        display: none;
        animation: apearing 100ms linear forwards;
        border-radius: 15px;
    }
    .first-project-img01, 
    .second-project-img01{
        display: inline;
    }
    .previous-img, 
    .next-img, 
    .previous-img02, 
    .next-img02{
        display: none;
    }
    .mobile-img-switch{
        display: block;
    }
    .mobile-img-switch img{
        width: 2rem;
        height: 2rem;
        margin: 0.7rem 1rem;
    }
    .previous-img:hover, 
    .next-img:hover, 
    .previous-img02:hover, 
    .next-img02:hover{
        cursor: pointer;
        filter: invert(30%);
        transform: scale(115%);
    }
    .project-keywords{
        display: flex;
        grid-template-columns: 1fr 1fr;
        width:fit-content;
        margin: 1.5rem auto 0 auto;
        font-size: 1rem;
        border-radius: 15px;
        width: 90%;
    }
    .project-keywords h2{
        font-size: 1rem;
    }
    .project-keywords div{
        padding: 0 2rem;
        text-align: left;
    }
    .project-description{
        width: 90%;
        padding: 1rem 0.5rem;
        margin: 1.5rem auto 2rem auto;
        font-size: 1rem;
        border-radius: 15px;
    }
    
    .projects div button{
        width: 5rem;
        font-size: 1.2rem;
        margin: 1.5rem 0.5rem 0 0.5rem;
        border-radius: 30px;
        padding: 0.3rem 0;
        border: 2px solid var(--deep-purple);
    }
    .projects div button:hover{
        box-shadow: 3px 3px 3px black;;
        cursor: pointer;
        color: rgb(97, 2, 107);
    }
    .close01, .close02{
        background-color: var(--deep-purple);
        color: white;
    }
    .close01:hover, 
    .close02:hover{
        background-color: transparent;
        color: var(--deep-purple);
    }
}

@keyframes apearing {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes movingDown {
    0%{
        margin-top: 12rem;
    }
    100%{
        margin-top: 15rem;
    }
}
@keyframes project {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
