html{
    font-family: Arial, Helvetica, sans-serif;
}
nav, body, main{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow-y: hidden;
    }
nav, main, #home, #about, #service, #resume, #portfolio, #contact{
    height: 100vh;
    border: solid transparent 1px;
}

/* Navigation bar */

nav{
    text-align: center;
    border-right: solid gray 1px;
    box-shadow: 3px 3px 34px 3px black;
}
.myPhoto{
    width: 13rem;
    height: 13rem;
    margin-top: 2rem;
    border-radius: 50%;
    object-fit: cover;
    border: solid 1px black;
}
.name{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(220, 0, 121);
    margin-bottom: 1rem;
}
.icons img{
    width: 1.5rem;
    height: 1.5rem;
}
nav hr{
    width: 85%;
}
.nav-links a{
    display: block;
    margin:1.2rem 0;
    font-size: 1.2rem;
    letter-spacing: 2px;
    transition: 300ms;
    text-decoration: none;
    color: black;
}

.nav-links a:visited{
    color: black;
}
.nav-links a:first-child{
    margin-top: 2rem;
}
.nav-links a:hover{
    cursor: pointer;
    color: rgb(234, 0, 140);
}

/* main */
main{
    overflow-y: scroll;
    scroll-behavior: smooth;
    animation: apearing 1s linear forwards;
}

/* openeing panel */
.introduction{
    font-size: 4rem;
    margin: 15rem 0 0 4rem;
    animation: movingDown 0.6s linear forwards;
}

.into-p{
    font-size: 1.3rem;
    margin-left: 6rem;
}
main button{
    font-size: 1rem;
    color: rgb(242, 242, 242);
    width: 8rem;
    padding:0.5rem;
    font-weight: bold;
    margin-top: 2rem;
    white-space: nowrap;
    background-color: rgb(21, 0, 32);
    outline: transparent;
    border: 1px solid rgb(21, 0, 32);
    border-radius: 25px;
    transition: 300ms;
}
main button:hover{
    color:rgb(21, 0, 32);
    background: transparent;
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
}
.talk-to-me{
    margin-left: 7rem;
}
.download-cv{
    margin-left: 0.5rem;
}
/* about section */

#about h2, #service h2, #resume h2, #portfolio h2, #contact h2{
    text-align: center;
    font-size: 3rem;
    margin-top: 6rem;
}
.about-div, .service-div, .resume-div, .contact-div{
    border: solid gray 1px ;
    height: 20rem;
    margin:0 3rem;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 15px;
    box-shadow: 3px 5px 10px black;
}
/* services */
.service-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.service-titles{
    border-right: solid gray 3px;
    padding:0.5rem;
    padding-left: 2rem;
    text-align: left;
}
.service-titles hr{
    height: 3px;
    width: 100%;
    background-color: gray;
}
.technologies{
    padding:2.5rem 0.5rem 0.5rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.technologies img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 15px;
}
/* about */
.about-name{
    color: rgb(234, 0, 140);
    font-weight: bolder;
}
.year{
    background-color: rgb(0, 123, 255);
}

/* portfolio */

.portfolio-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid gray 1px ;
    margin:0 3rem;
    font-size: 1.5rem;
    border-radius: 15px;
    box-shadow: 3px 5px 10px black;
    height: 27rem;
}
.project{
    margin:0.5rem;
    text-align: center;
}
.project-container{
    height:15rem;
    border: solid gray 1px;
    margin: 0.5rem auto;
    width: 90%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 3px 5px 10px black;
    border-radius: 15px;
}
.project-img{
    width: 100%;
    margin: auto;
    height: 100%;
    transition: 300ms;
}
.project-container:hover .project-img{
    transform: scale(120%);
    filter:blur(6px);
}
.utility-icon{
    width: 2.2rem;
    height: 2.2rem;
    position: relative;
    top: -45%;
    margin:0 1rem;
    display: none;
}
.project-container:hover .utility-icon{
    display: inline;
    transition: 200ms;
}
.utility-icon:hover{
    cursor: pointer;
    filter: invert(90%);
}
.project p{
    margin: 0;
    padding: 0;
    color: rgb(234, 0, 140);
}

.projects{
    margin: 0
}
.project h4{
    margin: 1.5rem 0 1rem 0;
}
.first-project, .second-project{
    display: none;
    width: 70vw;
    height: 70vh;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: white;
    overflow: scroll;
    animation: project 0.3s linear forwards;
    text-align: center;
    padding-bottom: 1rem;
    border: solid black 2px;
    border-radius: 5px;
    
}
.project-title{
    font-size: 3rem;
    margin: 5rem auto 1rem auto;
}
.first-project-img01,
.first-project-img02,
.first-project-img03,
.first-project-img04,
.first-project-img05,
.first-project-img06,
.first-project-img07,
.first-project-img08,
.first-project-img09,
.second-project-img01,
.second-project-img02,
.second-project-img03,
.second-project-img04,
.second-project-img05,
.second-project-img06,
.second-project-img07,
.second-project-img08,
.second-project-img09,
.second-project-img010,
.second-project-img011,
.second-project-img012,
.second-project-img013
{
    width: 50vw;
    margin: auto 1rem;
    border: 1px black solid;
    display: none;
    animation: apearing 100ms linear forwards;
    border-radius: 15px;
}
.first-project-img01, .second-project-img01{
    display: inline;
}
.previous-img, .next-img, .previous-img02, .next-img02{
    width: 3rem;
    height: 3rem;
    margin-bottom: 12rem;
    transition: 300ms;
}
.previous-img:hover, .next-img:hover, .previous-img02:hover, .next-img02:hover{
    cursor: pointer;
    filter: invert(30%);
    transform: scale(115%);
}
.project-keywords{
    display: flex;
    grid-template-columns: 1fr 1fr;
    width:fit-content;
    margin: 1.5rem auto 0 auto;
    font-size: 1.2rem;
    border-radius: 15px;
    box-shadow: 3px 5px 10px black;
}
.project-keywords div{
    padding: 0 2rem;
    text-align: left;
}
.project-description{
    width: 50%;
    padding: 1rem 0.5rem;
    margin: 1.5rem auto 2rem auto;
    font-size: 1.2rem;
    border-radius: 15px;
    box-shadow: 3px 5px 10px black;
}

.projects div button{
    width: 5rem;
    font-size: 1.2rem;
    margin: 1.5rem 0.5rem 0 0.5rem;
    border-radius: 30px;
    padding: 0.3rem 0;
    border: 2px solid rgb(21, 0, 32);
    transition: 300ms;
}
.projects div button:hover{
    box-shadow: 3px 3px 3px black;;
    cursor: pointer;
    color: rgb(97, 2, 107);
}
.close01, .close02{
    background-color: rgb(21, 0, 32);
    color: white;
}
.close01:hover, .close02:hover{
    background-color: transparent;
    color: rgb(21, 0, 32);
}


/* contact */
.contact-div{
    text-align: center;
}
.contact-div img{
    margin: 0 auto;
    width: 4rem;
    height: 4rem;
    text-align: center;
}
.contact-form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3;
    text-align: left;
    margin-top: 4rem;
    padding:1.5rem
}
.contact-form p{
    border-bottom: solid gray 1px;
    margin:0;
    padding:0.7rem 0 0.4rem 0;
}
.info-type{
    color: rgb(234, 0, 140);
    margin-left: 1rem;
    font-weight: bold;
}
.contact-form button{
    margin:0;
    margin-left: 3.5rem;
    padding: 0.3;
}
.sep{
    color: rgb(234, 0, 140);
}
/* media queries */

@media (min-width: 360px) and (max-width: 767px){
    body{
        display: block;
        overflow-y: hidden;
    }
    nav{
        display: none;
    }
    .introduction{
        font-size: 2.3rem;
        margin: 15rem 0 0 2rem;
    }
    .into-p{
        font-size: 1.3rem;
        margin-left: 2rem;
    }
    main button{
        display: block;
        margin: 1rem auto;
    }
    .talk-to-me{
        width: auto;
        padding:0.5rem;
        margin-top: 2rem;
        margin-left: auto;
    }
    .download-cv{
        margin-left: auto;
    }
    /*  */
    #about h2, #service h2, #resume h2, #portfolio h2, #contact h2{
        text-align: center;
        font-size: 2rem;
        margin-top: 4rem;
    }
    .about-div, .service-div, .resume-div, .contact-div{
        height: auto;
        margin:0 0.5rem;
        padding: 1.5rem;
        font-size: 1.2rem
    }
    
    .service-div{
        display: block;
    }
    .service-titles{
        border-right: none;
        border-left: solid 1px rgb(87, 0, 87);
        padding-left: 1rem;
        margin-left: 2rem;
    }
    .service-titles hr{
        display: none;
    }
    .technologies{
        display: none;
    }
}

@keyframes apearing {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes movingDown {
    0%{
        margin-top: 12rem;
    }
    100%{
        margin-top: 15rem;
    }
}
@keyframes project {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
