/* border: solid red 1px; */
html{
    font-family: Arial, Helvetica, sans-serif;
}
nav, body, main{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow-y: hidden;
    /* background:linear-gradient(50deg, rgb(255, 255, 255), rgb(255, 255, 255), rgba(183, 183, 183, 0.663) ); */
}
nav, main, #home, #about, #service, #resume, #portfolio, #contact{
    height: 100vh;
    border: solid transparent 1px;
}
/* Navigation bar */
nav{
    text-align: center;
    border-right: solid gray 1px;
    box-shadow: 3px 3px 34px 3px black;
}
.myPhoto{
    width: 13rem;
    height: 13rem;
    margin-top: 2rem;
    border-radius: 50%;
}
.name{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(220, 0, 121);
    margin-bottom: 1rem;
}
.icons img{
    width: 1.5rem;
    height: 1.5rem;
}
nav hr{
    width: 85%;
}
.nav-links a{
    display: block;
    margin:1.2rem 0;
    font-size: 1.2rem;
    letter-spacing: 2px;
    transition: 300ms;
    text-decoration: none;
    color: black;
}

.nav-links a:visited{
    color: black;
}
.nav-links a:first-child{
    margin-top: 2rem;
}
.nav-links a:hover{
    cursor: pointer;
    color: rgb(234, 0, 140);
}
main{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.introduction{
    font-size: 4rem;
    margin: 15rem 0 0 4rem;
}
.into-p{
    font-size: 1.3rem;
    margin-left: 6rem;
}
main button{
    font-size: 1rem;
    color: rgb(242, 242, 242);
    width: 8rem;
    padding:0.5rem;
    font-weight: bold;
    margin-top: 2rem;
    white-space: nowrap;
    background-color: rgb(21, 0, 32);
    outline: transparent;
    border: 1px solid rgb(21, 0, 32);
    border-radius: 25px;
    transition: 300ms;
}
main button:hover{
    color:rgb(21, 0, 32);
    background: transparent;
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
}
.talk-to-me{
    margin-left: 7rem;
}
.download-cv{
    margin-left: 0.5rem;
}
/* about section */

#about h2, #service h2, #resume h2, #portfolio h2, #contact h2{
    text-align: center;
    font-size: 3rem;
    margin-top: 6rem;
}
.about-div, .service-div, .resume-div, .contact-div{
    border: solid gray 1px ;
    height: 20rem;
    margin:0 3rem;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 15px;
    box-shadow: 3px 5px 10px black;
}
.service-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.service-titles{
    border-right: solid gray 3px;
    padding:0.5rem;
    padding-left: 2rem;
    text-align: left;
}
.service-titles hr{
    height: 3px;
    width: 100%;
    background-color: gray;
}
.technologies{
    /* border: solid red 1px; */
    padding:2.5rem 0.5rem 0.5rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.technologies img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 15px;
}
.about-name{
    color: rgb(234, 0, 140);
    font-weight: bolder;
}
/* Resume styling */
.resume-div{
    text-align: center;
}
.year{
    background-color: rgb(0, 123, 255);
}
/* resume styling end */

/* portfolio section styling*/

.portfolio-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid gray 1px ;
    margin:0 3rem;
    /* padding: 2rem; */
    font-size: 1.5rem;
    border-radius: 15px;
    box-shadow: 3px 5px 10px black;
}
.project{
    /* width: 5rem; */
    /* height: 5rem; */
    /* border: solid rgb(0, 68, 255) 1px; */
    margin:0.5rem;
    text-align: center;
}
.project-container{
    /* width: 10rem; */
    height:10rem;
    border: solid gray 1px;
    margin: 0.5rem auto;
    width: 90%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 3px 5px 10px black;
    border-radius: 15px;
}
.project-img{
    /* border: solid rgb(0, 255, 242) 1px; */
    width: 100%;
    margin: auto;
    height: 100%;
    transition: 300ms;
    /* remove the filter */
    /* filter: opacity(0.1) */
}
.project-container:hover .project-img{
    transform: scale(120%);
    filter:blur(6px);
}
.utility-icon{
    width: 2.2rem;
    height: 2.2rem;
    position: relative;
    top: -45%;
    margin:0 1rem;
    /* border: solid rgb(0, 255, 38) 1px */
    display: none;
}
.project-container:hover .utility-icon{
    display: inline;
    transition: 200ms;
}
.utility-icon:hover{
    cursor: pointer;
    filter: invert(90%);
}
.project p{
    margin: 0;
    padding: 0;
    color: rgb(234, 0, 140);
}
/* contact */
.contact-div{
    text-align: center;
}
.contact-div img{
    margin: 0 auto;
    width: 4rem;
    height: 4rem;
    text-align: center;
}
.contact-form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3;
    text-align: left;
    margin-top: 4rem;
    /* border: solid rgb(0, 30, 255) 1px; */
    padding:1.5rem
}
.contact-form p{
    /* border: solid red 1px; */
    border-bottom: solid gray 1px;
    margin:0;
    padding:0.7rem 0 0.4rem 0;
}
.info-type{
    /* width: 50%    */
    color: rgb(234, 0, 140);
    margin-left: 1rem;
    font-weight: bold;
}
.contact-form button{
    margin:0;
    margin-left: 3.5rem;
    padding: 0.3;
}
.sep{
    color: rgb(234, 0, 140);
}

@media (min-width: 360px) and (max-width: 767px){
    body{
        display: block;
        overflow-y: hidden;
    }
    nav{
        display: none;
    }
    .introduction{
        font-size: 2.3rem;
        margin: 15rem 0 0 2rem;
    }
    .into-p{
        font-size: 1.3rem;
        margin-left: 2rem;
    }
    main button{
        display: block;
        margin: 1rem auto;
    }
    .talk-to-me{
        width: auto;
        padding:0.5rem;
        margin-top: 2rem;
        margin-left: auto;
    }
    .download-cv{
        margin-left: auto;
    }
    /*  */
}
